<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrickyTriviaTrip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TrickyTriviaTrip.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>TrickyTriviaTrip</value>
            </setting>
            <setting name="SqliteVersion" serializeAs="String">
                <value>Version=3;</value>
            </setting>
            <setting name="TriviaApiBaseUrl" serializeAs="String">
                <value>https://opentdb.com/api.php</value>
            </setting>
            <setting name="DatabaseFileName" serializeAs="String">
                <value>trivia.db</value>
            </setting>
            <setting name="CreateDatabaseScript" serializeAs="String">
                <value>TrickyTriviaTrip.DatabaseScripts.CreateDatabase.sql</value>
            </setting>
            <setting name="RetrieveTokenUrl" serializeAs="String">
                <value>https://opentdb.com/api_token.php?command=request</value>
            </setting>
        </TrickyTriviaTrip.Properties.Settings>
    </applicationSettings>
</configuration>